body {
  background-color: antiquewhite;
  font-size: medium;
  margin: 0%;
  padding: 0%;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  width: 758px;
  height: 100px;
  background-color: red;
  border: black solid 5px;
}

.item-1 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}
.logo {
  background-color: blueviolet;
  border: black solid 3px;
  border-radius: 7px;
  text-align: center;
  width: 170px;
  height: 65px;
}

.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 10px;
  padding: 5px;
}

.menu-1 {
  background-color: blue;
  border: black solid 3px;
  border-radius: 7px;
  text-align: center;
}

.cuerpo {
  display: flex;
  justify-content: space-around;
  width: 768px;
  height: 200px;
}

.div-1 {
  background-color: green;
  border: black solid 5px;
  width: 50%;
}

.cuerpo-2 {
  display: flex;
  justify-content: space-around;
  width: 768px;
  height: 200px;
}

.div-2 {
  background-color: brown;
  border: black solid 5px;
  width: 50%;
}

.pie {
  display: flex;
  justify-content: right;
  width: 758px;
  height: 60px;
  background-color: grey;
  border: black solid 5px;
}

.div-pie {
  display: flex;
  justify-content: end;
  width: 30%;
  margin: 10px;
  padding: 5px;
}

.div-elemento {
  background-color: greenyellow;
  border: black solid 3px;
  border-radius: 7px;
  text-align: center;
}
